.area-tela {
    display: flex;
    justify-content: center;
}

.container-todos {
    display: inline-flex; /* Define o body a somente o espaço dos itens existentes */
    flex-direction: column;
    align-items: center; /* Se 'column', então 'align-items' */    

    background-color: #1c1c1c;
    padding: 1.5em;
}

.container-input {    
    display: flex;    
    align-items: center;
    justify-content: space-between;    

    width: 100%;
}

h1 {
    margin-block-start: 0;
    color: white;    
}

h2 {
    color: #d4d4d2;
}

input {
    height: 1.5em;
}

button {
    height: 3em;
    width: 100%;

    background-color: #ff9500;
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    margin-top: 2em;
}







